.u-center-text {text-align: center;}

.u-magrin-bottom-small {margin-bottom: 1.5rem;}
.u-magrin-bottom-meduim {margin-bottom: 4.5rem;}
.u-magrin-bottom-big {margin-bottom: 8rem;}

.u-magrin-top-small {margin-top: 1.5rem;}
.u-magrin-top-meduim {margin-top: 4.5rem;}
.u-magrin-top-big {margin-top: 8rem;}
.u-magrin-top-huge {margin-top: 10rem;}